autostart/
dconf/
Electron/
go/
gtk-3.0/
lobster/
mpv/
nano/
neofetch/
Netflix/
pavucontrol.ini
procps/
pulse/
systemd/
user-dirs.dirs
user-dirs.locale
xarchiver/
xfce4/
yay/
Thunar/
eos-update-notifier.first_init
pavucontrol.ini
JetBrains/
Postman/
yazi/
astro/
freeze/
google-chrome/
google-chrome-for-testing/
guvcview2/
omf/
spotify/
xed/
Code\ -\ OS/
flutter/
basilk/
coc/
discord/
encore/
gcloud/
himalaya/
libreoffice/
rofi.sponk2/
StarUML/
supertuxkart/

